"*":
  "atom-wsync":
    localRepoBasePath: "/Users/muhammad/workspace/weebly"
    pathRepo: "muhammad"
  core:
    disabledPackages: [
      "php-debug"
    ]
    themes: [
      "one-dark-ui"
      "solarized-dark-syntax"
    ]
  editor:
    fontFamily: "'fira mono'"
    invisibles:
      tab: " "
    showIndentGuide: true
    showInvisibles: true
    softTabs: false
    tabType: "hard"
  "exception-reporting":
    userId: "d841df6e-50c2-fcd4-b14f-0f80d9c84833"
  "php-debug":
    PhpException:
      CatchableFatalError: false
      Deprecated: false
      FatalError: false
      Notice: false
      ParseError: false
      StrictStandards: false
      UnknownError: false
      Warning: false
  welcome:
    showOnStartup: false
